.footer {
    overflow: hidden;
    background-color: #2f3543;
    padding: 20px 10px;
    color: #b4b4b4;
   
  }
  
  .footer a {
    float: left;
    color: #b4b4b4;
    text-align: center;
    padding-left: 12px;
    text-decoration: none;
    font-size: 14px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  .footer a:hover {
    color: white;
  }
  
  .footer a:active {
    color: white;
  }
  
  .footer-right {
    float: right;
  }